.titulo{
    padding: 30px;
    padding-top: 10px;

}
.imagem{
    height: 230px;
    width: 340px;
    vertical-align: center;
    padding: 15px;
}
td{
    vertical-align: top;
}
.texto{
    width: 500px;
}
#table{
    height: 75%;
    width: 75%;
}